.wp-dialog .ui-dialog-content.acf-youtube-dialog{
	padding: 15px 10px;

}

.acf-youtube-preview img{
	float: left;
	margin-right: 20px
}

.acf-youtube-url input{
	width: 100%;
	padding:5px;
}
.acf-youtube-url{
	position: relative;
}

.acf-youtube-field{
	position: relative;
}

.acf-youtube-title + a.acf-button,
.acf-youtube-url .acf-button
{
	border-radius: 3px;
	position: absolute;
	top: 2px;
	right: 0;
	border-top-left-radius: 0; 
	border-bottom-left-radius: 0; 
}

.acf-youtube-title + a.acf-button:active,
.acf-youtube-url .acf-button:active{
	top: 2px;
}
